@model PokerPrototype.Models.UserModel

@section topright{
    @Html.Partial("_profileDropdown", Model)
}

@{
    ViewBag.Title = "Game";
}

@section styles{
    <style media="screen" type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        /* to remove the top and left whitespace */

        html, body {
            width: 100%;
            height: 100%;
        }
        /* just to be sure these are full screen*/

        body {
            margin: 0;
            padding: 0;
            position: absolute;
            background-image: url(http://www.walldevil.com/wallpapers/a52/wallpaper-textur-background-patterns-backgrounds-wallpapers.jpg);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #bottomFunctions {
            position: fixed;
            bottom: 0%;
            left: 0%;
            background-color: black;
            border: 1px solid white;
            width: 100%;
            height: 15%;
        }

        #chatroom {
            position: absolute;
            float: left;
            top: 3%;
            left: 85%;
            width: 10%;
        }

        #metaActions {
            float: left;
            position: absolute;
            left: 1.5%;
            top: 10%;
            height: 60%;
            width: 10%;
        }

        #rangeSlider {
            position: absolute;
            top: 70%;
            height: 30%;
            width: 100%;
        }

        #raiseSlider {
            width: 75%;
            height: 100%;
            position: relative;
            float: left;
            left: 5%;
        }

        #raiseInput {
            position: relative;
            width: 10%;
            height: 50%;
            float: left;
            top: 25%;
            left: 10%;
        }

        #actionButtons {
            position: relative;
            top: 5%;
            left: .25%;
            height: 60%;
            width: 100%;
        }

        #gameActions {
            float: left;
            top: 5%;
            left: 35%;
            height: 90%;
            width: 30%;
            position: absolute;
            border: 2px solid white;
        }

        .actionButton {
            position: relative;
            width: 24%;
            height: 100%;
            margin: .5%;
            font-size: 100%;
            font-family: Arial,Arial, Helvetica, sans-serif;
            float: left;
        }

        .metaButton {
            position: relative;
            width: 90%;
            height: 31%;
            font-size: 100%;
            font-family: Arial,Arial, Helvetica, sans-serif;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 1%;
            margin-top: 1%;
        }

        button {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1433cc), color-stop(1, #0b1f00));
            background: -moz-linear-gradient(top, #1433cc 5%, #0b1f00 100%);
            background: -webkit-linear-gradient(top, #1433cc 5%, #0b1f00 100%);
            background: -o-linear-gradient(top, #1433cc 5%, #0b1f00 100%);
            background: -ms-linear-gradient(top, #1433cc 5%, #0b1f00 100%);
            background: linear-gradient(to bottom, #1433cc 5%, #0b1f00 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1433cc', endColorstr='#0b1f00',GradientType=0);
            background-color: #1433cc;
            border: 1px solid yellow;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            text-decoration: none;
            -moz-border-radius: 11px;
            -webkit-border-radius: 11px;
            border-radius: 11px;
            outline: none;
        }

            button:hover {
                border: 2px solid green;
            }

            button:active {
                position: relative;
                top: 1px;
            }

        input {
            font: 12px arial;
        }

        #chatarea {
            position: absolute;
            left: 75%;
            width: 25%;
            height: 100%;
        }


        #chatbox {
            position: absolute;
            text-align: left;
            background: #fff;
            border: 1px solid #000;
            left: 0%;
            top: 0%;
            width: 100%;
            height: 80%;
            overflow: auto;
        }

        #message {
            border: 1px solid #000;
            position: absolute;
            left: 0%;
            top: 80%;
            height: 20%;
            width: 100%;
        }

        #usermsg {
            position: absolute;
            left: 0%;
            width: 80%;
            height: 100%;
            top: 0%;
        }

        #submitmsg {
            border: 1px solid #000;
            position: absolute;
            left: 80%;
            width: 20%;
            height: 100%;
            top: 0%;
        }

        /* HUD Styling*/

        #community {
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            top: 45%;
            left: 50%;
            height: 85px;
            width: 500px;
            /*background-color: blue;*/
            transform: translate(-50%, -50%);
        }

        .communityCard {
            height: 100%;
            width: 90px;
            margin-right: 5px;
            margin-bottom: 5px;
            background-color: green;
        }

            .communityCard img {
                height: 100%;
                width: 100%;
            }

        #inGameUpdates {
            background-color: white;
            width: 100%;
            height: 20px;
            text-align: center;
            margin-bottom: 5px;
        }

        #pot {
            background-color: white;
            width: 45%;
            height: 20px;
            text-align: center;
        }

        .playerHud {
            position: fixed;
            height: 55px;
            width: 250px;
        }

        #hud1 {
            bottom: 27%;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        #hud2 {
            top: 9%;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        #hud3 {
            top: 15%;
            left: 2%;
        }

        #hud4 {
            top: 50%;
            left: 2%;
        }

        #hud5 {
            top: 15%;
            right: 2%;
        }

        #hud6 {
            top: 50%;
            right: 2%;
        }

        .playerCards {
            display: flex;
            justify-content: center;
        }

        .playerCard {
            height: 75px;
            width: 30%;
            border-radius: 2px;
        }

            .playerCard img {
                height: 100%;
                width: 100%;
                /*visibility:  ;*/
            }

        .playerBar {
            display: flex;
            justify-content: center;
        }

            .playerBar > div {
                background-color: #585749;
            }

        .avatar {
            height: 50px;
            width: 20%;
            border-radius: 2px;
            border: 1px inset;
        }

            .avatar img {
                height: 100%;
                width: 100%;
            }

        .nameAndCurrency {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 50px;
            width: 60%;
            border: 1px inset;
            border-radius: 2px;
        }

        .name {
            display: block;
            width: 60%;
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            background-color: #E59866;
        }

        .currency {
            display: block;
            width: 60%;
            margin-bottom: 5px;
            text-align: center;
            background-color: #97ddff;
        }

        .timer {
            height: 50px;
            width: 20%;
            border: 1px inset;
            border-radius: 2px;
            color: white;
            font-size: 30px;
            text-align: center;
        }
    </style>
}

<h2>Room #@ViewBag.roomid</h2>

<!-- COMMUNITY CARDS -->
<div id="community">
    <div id="inGameUpdates">{{message}}</div>
    <div id="flop1" class="communityCard"><img v-bind:src="card1" /></div>
    <div id="flop2" class="communityCard"><img v-bind:src="card2" /></div>
    <div id="flop3" class="communityCard"><img v-bind:src="card3" /></div>
    <div id="turn" class="communityCard"><img v-bind:src="card4" /></div>
    <div id="river" class="communityCard"><img v-bind:src="card5" /></div>
    <div id="pot">Pot Size: ${{potSize}}</div>
</div>

<!-- HUD 1 -->
<div id="hud1" class="playerHud" v-show="username != ''">

    <div class="playerCards">
        <div id="card1" class="playerCard"><img v-bind:src="card1Url" /></div>
        <div id="card2" class="playerCard"><img v-bind:src="card2Url" /></div>
    </div>

    <div class="playerBar">
        <a href="#" class="avatar"><img v-bind:src="avatarUrl" /></a>
        <div class="nameAndCurrency">
            <div class="name">{{username}}</div>
            <div class="currency">currency:${{currency}}</div>
        </div>
        <div class="timer">{{timer}}</div>
    </div>
</div>

<!-- HUD 2 -->
<div id="hud2" class="playerHud" v-show="username != ''">

    <div class="playerCards">
        <div id="card1" class="playerCard"><img v-bind:src="card1Url" /></div>
        <div id="card2" class="playerCard"><img v-bind:src="card2Url" /></div>
    </div>

    <div class="playerBar">
        <a href="#" class="avatar"><img v-bind:src="avatarUrl" /></a>
        <div class="nameAndCurrency">
            <div class="name">{{username}}</div>
            <div class="currency">currency:${{currency}}</div>
        </div>
        <div class="timer">{{timer}}</div>
    </div>
</div>

<!-- HUD 3 -->
<div id="hud3" class="playerHud" v-show="username != ''">

    <div class="playerCards">
        <div id="card1" class="playerCard"><img v-bind:src="card1Url" /></div>
        <div id="card2" class="playerCard"><img v-bind:src="card2Url" /></div>
    </div>

    <div class="playerBar">
        <a href="#" class="avatar"><img v-bind:src="avatarUrl" /></a>
        <div class="nameAndCurrency">
            <div class="name">{{username}}</div>
            <div class="currency">currency:${{currency}}</div>
        </div>
        <div class="timer">{{timer}}</div>
    </div>
</div>

<!-- HUD 4 -->
<div id="hud4" class="playerHud" v-show="username != ''">

    <div class="playerCards">
        <div id="card1" class="playerCard"><img v-bind:src="card1Url" /></div>
        <div id="card2" class="playerCard"><img v-bind:src="card2Url" /></div>
    </div>

    <div class="playerBar">
        <a href="#" class="avatar"><img v-bind:src="avatarUrl" /></a>
        <div class="nameAndCurrency">
            <div class="name">{{username}}</div>
            <div class="currency">currency:${{currency}}</div>
        </div>
        <div class="timer">{{timer}}</div>
    </div>
</div>

<!-- HUD 5 -->
<div id="hud5" class="playerHud" v-show="username != ''">

    <div class="playerCards">
        <div id="card1" class="playerCard"><img v-bind:src="card1Url" /></div>
        <div id="card2" class="playerCard"><img v-bind:src="card2Url" /></div>
    </div>

    <div class="playerBar">
        <a href="#" class="avatar"><img v-bind:src="avatarUrl" /></a>
        <div class="nameAndCurrency">
            <div class="name">{{username}}</div>
            <div class="currency">currency:${{currency}}</div>
        </div>
        <div class="timer">{{timer}}</div>
    </div>
</div>

<!-- HUD 6 -->
<div id="hud6" class="playerHud" v-show="username != ''">

    <div class="playerCards">
        <div id="card1" class="playerCard"><img v-bind:src="card1Url" /></div>
        <div id="card2" class="playerCard"><img v-bind:src="card2Url" /></div>
    </div>

    <div class="playerBar">
        <a href="#" class="avatar"><img v-bind:src="avatarUrl" /></a>
        <div class="nameAndCurrency">
            <div class="name">{{username}}</div>
            <div class="currency">currency:${{currency}}</div>
        </div>
        <div class="timer">{{timer}}</div>
    </div>
</div>

<button class="metaButton" id="ready">Ready</button>

<div id="bottomFunctions">
    <div id="metaActions">
        <button class="metaButton" id="BuyMore">Buy More</button>
        <br>
        <button class="metaButton" id="HandHistory">Hand History</button>
        <br>
        <button class="metaButton" id="LeaveGame">Leave game</button>
    </div>
    <div id="gameActions">
        <div id="actionButtons">
            <button class="actionButton" id="Fold">Fold</button>
            <button class="actionButton" id="Call">Call</button>
            <button class="actionButton" id="AllIn">All In</button>
            <button class="actionButton" id="Raise">Raise</button>
        </div>
        <br>
        <div id="rangeSlider">
            <input id="raiseSlider" type="range" min="0" max="100" value="0" oninput="updateTextInput(this.value);">
            <input id="raiseInput" type="text" value="0" oninput="updateSlider(this.value);">
        </div>
    </div>
    <div id="chatarea">
        <div id="chatbox"></div>
        <div id="message" action="">
            <input name="usermsg" type="text" id="usermsg" size="63" />
            <input name="submitmsg" type="submit" id="submitmsg" value="Send" />
        </div>
    </div>
</div>




@section scripts{

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.1.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

    var chat = $.connection.myHub;
    var roomID = @ViewBag.roomid;

        console.log(roomID);
        //$.connection.hub.start().done(initConnect).fail(function (reason) {
        //    console.log("SignalR connection failed: " + reason);
        //});

        //function initConnect() {
        //    alert("connection established");
        //    chat.server.getRoomInfo(roomID, user);
        //}
            //$('#message-btn').prop("disabled", false).click(function () {
            //    chat.server.send(roomID, $("#message").val());
            //});
        

        $(document).ready(function(){

            var username = $('#username').text();
            var currency = $('#currency').text();
            var avatar = $('#avatar').attr('src');

            var hudArray = [hud1, hud2, hud3, hud4, hud5, hud6];

            var newUser = {
                username: username,
                currency: currency,
                avatar: avatar
            };

            $.connection.hub.start().done(initConnect).fail(function (reason) {
                console.log("SignalR connection failed: " + reason);
            });

            function initConnect() {
                alert("connection established");
                chat.server.getRoomInfo(roomID, username);

            }

            chat.server.broadcastRoomInfo(roomID);
       

            //var roomResponse = {
            //    players: [{username: 'joe', currency: 900, avatar: 'http://animal-dream.com/data_images/whale/whale4.jpg'}, {username: 'uncle rico', currency: 400, avatar: 'http://totalsportscomplex.com/wp-content/uploads/2014/09/baseball-pic.jpg'}],
            //    pot: 700,
            //    roomname: "pokerchimps",
            //    boardCards: ['http://i.imgur.com/uCi6EeO.png', 'http://i.imgur.com/llR3t2n.png', 'http://i.imgur.com/TIHRK9O.png'],
            //    time: 30
            //};

            //Initial call to updateHud when player joins a room 
            chat.client.updateHud = function(roomResponse){
                
                roomResponse.players.push(newPlayer);

                for(var i = 0; i < roomResponse.players.length; i++){
                    hudArray[i].username = roomResponse.players[i].username;
                    hudArray[i].currency = roomResponse.players[i].currency;
                    hudArray[i].avatarUrl = roomResponse.players[i].avatar;
                    hudArray[i].timer = roomResponse.time;
                }

                community.potSize = roomResponse.pot;

                if(roomResponse.boardCards.length == 3){
                    community.card1 = roomResponse.boardCards[0];
                    community.card2 = roomResponse.boardCards[1];
                    community.card3 = roomResponse.boardCards[2];
                }

                if(roomResponse.boardCards[3] != NULL){
                    community.card4 = roomResponse.boardCards[3];
                }

                if(roomResponse.boardCards[4] != NULL){
                    community.card5 = roomResponse.boardCards[4];
                }

          }



            $("#submitmsg").click(function(){

                var message=$("#usermsg").val();
                if(message!=''){
                    var old=$("#chatbox").html();
                    $("#chatbox").html(old+"<p>"+message+"</p>");
                    $("#usermsg").val("");
                    var objDiv = document.getElementById("#chatbox");
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
            });

            $('#usermsg').keypress(function (e) {
                if (e.which == 13) {
                    var message=$("#usermsg").val();
                    if(message!=''){
                        var old=$("#chatbox").html();
                        $("#chatbox").html(old+"<p>"+message+"</p>");
                        $("#usermsg").val("");
                        $("#chatbox").scrollTop($("#chatbox")[0].scrollHeight);
                    }
                    return false;
                }
            });

            $("#ready").click(function() {
                chat.server.confirmReady(roomID);

            });


            $("#Fold").click(function() {
                chat.server.fold(roomID);
            });

            $("#Call").click(function(username) {
                if(hud1.username==username){
                    alert("HI");
                }
                else if(hud2.username==username){
                    alert("2");
                }
                else if(hud4.username==username){
                    alert("3");
                }
                else if(hud2.username==username){
                    alert("4");
                }
                else if(hud4.username==username){
                    alert("5");
                }
                else if(hud2.username==username){
                    alert("6");
                }
                
//                currency-=chat.server.call(username,roomID);
            });

            $("#Raise").click(function() {
                var raise=document.getElementById("raiseSlider");
                var raiseVal=parseInt(raise.value);
                var curr=document.getElementById("")
                currency-=chat.server.raise(roomID,10);
                for(var i=0;i<hudArray.length;i++){
                    if(hudArray[i].username==username){
                        hudArray[i].currency=currency;
                    }
                }
            });

            $("#LeaveGame").click(function() {

                //chat.server.leave(roomID);

                for(var i = 0; i < hudArray.length; i++){
                    if(hudArray[i].username == username){
                        hudArray[i].username = '';
                        hudArray[i].currency = 0;
                        hudArray[i].avatarUrl = '';
                        break;
                    }
                }

                chat.server.leave(roomID);
            });


            /*function initConnect() {
                alert("connection established")
                chat.server.getRoomInfo(roomID);
                $('#message-btn').prop("disabled", false).click(function () {
                    chat.server.send(roomID, $("#message").val());
                });
                chat.server.GetRoomInfo();
            }*/

            function updateTextInput(value){
                var update=document.getElementById("raiseInput");
                update.innerHTML=value;
            }

            function updateSlider(value){
                var update=document.getElementById("raiseSlider");
                update.innerHtml=value;
            }
            //});



            chat.client.alertMessage = function (msg) {
                alert(msg);
            }

            chat.client.updateHUD = function(username,currency,card1,card2){
                for(var i=0;i<hudArray.length();i++){
                    if(hudArray[i].username==username){
                        hudArray[i].currency=currency;
                        hudArray[i].card1Url=card1;
                        hudArray[i].card2Url=card2;
                    }
                }
            }

            //chat.client.alertJson = function (model) {
            //   console.log(JSON.stringify(model))
            //};

            //$.connection.hub.start().done(initConnect).fail(function (reason) {
            //    console.log("SignalR connection failed: " + reason);
            //});
            //function initConnect() {
            //    alert("connection established");
            //    chat.server.getRoomInfo(roomID);
            //    $('#message-btn').prop("disabled", false).click(function () {
            //        chat.server.send(roomID, $("#message").val());
            //    });
            //}
                }
            }

            chat.client.updateHand = function(card1, card2){
                var card1 = card1;
                var card2 = card2;

                for(var i = 0; i < hudArray.length; i++){
                    if(hudArray[i].username == username){
                        hudArray[i].card1Url = card1;
                        hudArray[i].card2Url = card2;
                        break;
                    }
                }
            };

            chat.client.updateBoard = function(board){

                var communityCards = board.split(" ");

                switch(communityCards.length){

                    case 3:  community.card1 = communityCards[0];
                        community.card2 = communityCards[1];
                        community.card3 = communityCards[2];
                        break;

                    case 4:  community.card1 = communityCards[0];
                        community.card2 = communityCards[1];
                        community.card3 = communityCards[2];
                        community.card4 = communityCards[3];
                        break;

                    case 5: community.card1 = communityCards[0];
                        community.card2 = communityCards[1];
                        community.card3 = communityCards[2];
                        community.card4 = communityCards[3];
                        community.card5 = communityCards[4];
                        break;

                    default: console.log("no cards added to board");

                }


            }

            chat.client.updatePot = function(pot){
                community.potSize += pot;
            }


            chat.client.updateCallAmount = function(amount){
                if(amount == 0){
                    $("#call").text("check");
                }
                else{
                    $("#call").text("call" + amount);
                    $("#raiseInput").attr('value') = amount;
                }
            }


        });

    //chat.client.updateRaise = function(){
    //    alert("")
    //}

    </script>

}