@model PokerPrototype.Models.UserModel
@{
    ViewBag.Title = "Lobby";
}

<style media="screen" type="text/css">
    table {
        background-color: #4CAF50;
        color: white;
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    th{
        background-color: ;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        color: black;
    }

    tr:nth-child(odd) {
        background-color: #2f2f2f;
    }
</style>

@section topright{
    @Html.Partial("_ProfileDropdown", Model)
}
@Html.Partial("_AddFund")
<h2>Lobby</h2>
<p>You can log out at the top right</p>
<button id="sendmessage">Send Message</button>

@section scripts {
    @Html.Partial("_AddFundScript")
    <script>
        $.post("ajax/lobby", ajaxHandler);
        function ajaxHandler(response) {
            //alert(JSON.stringify(response));
            var $table = $("<table></table>");
            $table.append("<tr><th>Room Name</th><th>Player Count</th><th>blinds</th><tr>")
            for (var i = 0; i < response.length; i++) {
                var rooms = response[i];
                var $line = $("<tr></tr>");
                //$line.append($("<td></td>").html(rooms.roomID));
                $line.append("<td><a href='room/" + i + "'>" + rooms.roomName + "</a></td>");
                $line.append($("<td></td>").html(rooms.currentNumberPlayers + " / " + rooms.maxPlayerCount));
                //$line.append($("<td></td>").html(rooms.maxPlayerCount));
                $line.append($("<td></td>").html(rooms.blinds));
                $table.append($line);
            }
            $table.appendTo($("#myDiv"));
            $table.appendTo(document.body);
        }
    </script>
    <script>
        //$.post("ajax/createroom", createHandler);
        $(document).ready(function () {
            //alert("Document ready");
            //Script for Create Room, define createRoom Function below
            $("#create-btn").click(createRoom);
            $('#title-input').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#max-player-input").focus();
                }
            });
            $('#max-player-input').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#big-blind-input").focus();
                }
            });
            $('#big-blind-input').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#time-input").focus();
                }
            });
            $('#time-input').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#buy-in-input").focus();
                }
            });
            $('#buy-in-input').on("keyup", function (e) {
                if (e.keyCode == 13 || e.keyCode == 40) {
                    $("#private-input").focus();
                }
            });
            $('#private-input').on("keyup", function (e) {
                if (e.keyCode == 13) {
                    createRoom();
                }
            });

            function createRoom() {
                alert("creating room...");
                $(".modal-footer").append("<div class='spinner'></div>")
                if ($('#private-input').is(':checked'))
                    private_room = "1";
                else
                    private_room = "0";
                //alert("set private variable");
                $.post("/ajax/createroom", {
                    title: $('#title-input').val(),
                    max_players: $('#max-player-input').val(),
                    blind: $('#big-blind-input').val(),
                    time: $('#time-input').val(),
                    buy_in: $('#buy-in-input').val(),
                    private_room
                }, createHandler);
            }

            function createHandler(response) {
                alert("in handler");
                $(".spinner").remove();
                if (response.nameError.length > 0) {
                    $("#title-group").addClass("has-error");
                    $("#title-msg").text(response.nameError);
                } else {
                    $("#title-group").removeClass("has-error");
                    $("#title-msg").text("");
                }
                if (response.maxError.length > 0) {
                    $("#max-player-group").addClass("has-error");
                    $("#max-player-msg").text(response.maxError);
                } else {
                    $("#max-player-group").removeClass("has-error");
                    $("#max-player-msg").text("");
                }
                if (response.blindError.length > 0) {
                    $("#big-blind-group").addClass("has-error");
                    $("#big-blind-msg").text(response.blindError);
                } else {
                    $("#big-blind-group").removeClass("has-error");
                    $("#big-blind-msg").text("");
                }
                if (response.secondsError.length > 0) {
                    $("#time-group").addClass("has-error");
                    $("#time-msg").text(response.secondsError);
                } else {
                    $("#time-group").removeClass("has-error");
                    $("#time-msg").text("");
                }
                if (response.buyinError.length > 0) {
                    $("#buy-in-group").addClass("has-error");
                    $("#buy-in-msg").text(response.buyinError);
                } else {
                    $("#buy-in-group").removeClass("has-error");
                    $("#buy-in-msg").text("");
                }
                if (response.privateError.length > 0) {
                    $("#private-group").addClass("has-error");
                    $("#private-msg").text(response.privateError);
                } else {
                    $("#private-group").removeClass("has-error");
                    $("#private-msg").text("");
                }
                /*if (response.usernameError.length == 0 && response.passwordError.length == 0) {
                    window.location.href = '/';
                }*/
                alert("Room Successfully Created!");
                $('#room-modal').modal('toggle');
                //refresh the lobby page!
            }
        });
    </script>
}

<h2>RoomList</h2>
<button class="btn-primary btn" data-toggle="modal" data-target="#room-modal">Create Room</button>
<div style="overflow-y:auto;" id="myDiv">
</div>


<div class="modal fade" id="room-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="CreateRoomLabel">Create new room</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row" id="title-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="title-input">Room Title</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="title-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="title-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="max-player-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="max-player-input">Maximium Players (2 - 8)</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="max-player-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="max-player-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="big-blind-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="big-blind-input">Big Blind</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="big-blind-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="big-blind-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="time-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="time-input">Time per turn (in seconds)</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="time-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="time-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="buy-in-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="buy-in-input">Max Buy in</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="buy-in-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="buy-in-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="private-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="private-input">Private</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="checkbox" class="form-control" id="private-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="private-msg" class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Change These-->
                <!--  <a class="btn btn-default" href="~/Register">Create Account</a>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="create-btn" class="btn btn-primary">Create Room</button>
            </div>
        </div>
    </div>
</div>