<div class="modal fade" id="fund-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="RegisterLabel">Add funds to your Account</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row" id="amount-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="amount-input">Amount (USD)</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="amount-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="amount-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="name-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="name-input">Name on Card</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="name-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="name-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="card-number-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="card-number-input">Card Number</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="card-number-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="card-number-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="expires-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="expires-input">Expires</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="expires-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="expires-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="cvc-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="cvc-input">CVC</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="cvc-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="cvc-msg" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row" id="password-group">
                    <div class="col-sm-3">
                        <label class="control-label" for="password-input">Password</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password-input" />
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span id="password-msg" class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Change These-->
                <div id="fund-footer-left" style="float: left" ;></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="fund-btn" class="btn btn-primary">Buy Currency</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="profile-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="RegisterLabel">Viewing Profile</h4>
            </div>
            <div class="modal-body">
                <div id="profile-avatar" style="display: inline-block"><span class="spinner"></span></div>
                <h1 id="profile-username" style="display: inline-block"></h1>
                <h3 id="profile-currency" style="display: inline-block"></h3>
                <div id="profile-top-right" style="float: right"></div>
                
                <div id="friend-label"<h3>Friends:</h3></div>
                <div id="friend-body" class="row">
                </div>
            </div>
            <div class="modal-footer">
                <div id="profile-footer-left" style="float: left;"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="message-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="RegisterLabel">Messages</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0px; padding-top: 0px">
                <div class="row">
                    <div class="col-sm-3">
                        <ul id="message-menu" class="nav nav-pills nav-stacked" style="padding-top: 11px;">
                            <li class="active"><a id="inbox-message" href="#">inbox</a></li>
                            <li><a id="compose-message"href="#">compose</a></li>
                            <li><a href="#">sent messages</a></li>
                        </ul>
                    </div>
                    <div id="message-content"class="col-sm-9 well" style="margin-bottom: 0px">
                        <!--<span class="spinner"></span>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px">
                <div id="message-footer-left" style="float: left"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>