<script>
    $("#profile-dropdown").click(function () {
        showProfileModal("");
    })

    function showProfileModal(username) {
        //alert("called showProfileModal with " + username);
        $("#profile-avatar").empty().append($("<span class='spinner'></span>"));
        $.post("/ajax/viewProfile", {
            username: username
        },
        profileHandler);
    }
    function profileHandler(response) {
        //alert(JSON.stringify(response));
        $(".spinner").remove();
        $("#profile-avatar").empty().append("<img src='" + response.avatar + "'>");
        $("#profile-username").empty().append(response.username);
        $("#profile-currency").empty().append("Currency: " + response.currency);
        var $friendBody = $("#friendBody").empty();
        //alert(response.friendUser.size);
        
        for (var i = 0; i < response.friendUser.length; i++) {
            var friend = response.friendUser[i];
            var avatar = response.friendAvatar[i];
            //var $line = $("");
            $div = $("<div class='col=sm-6'></div>");
            $div.append("<img style='width: 64px; height: 64px;' src='" + avatar + "'>");
            $div.append($("<span></span>").text(" " + friend));
            $friendBody.append($div);
        }
        if (response.canEdit) {
            $("#profile-top-right").empty().append("<a href='/editprofile'><button>Edit Profile</button></a>");
        }
       //alert(response.username);
       //alert(@Model.username);
        else {
            if (response.isFriend) {
                $("#profile-top-right").empty().append("<button id='remove'>Remove Friend</button>");
                $("#profile-top-right").append("<button id='message'>Send Message</button>");

                $("#remove").click(function () {
                    removeFriend(response.username);
                })
                $("#message").click(function () {
                    message(response.username);
                })
            }
            else {
                $("#profile-top-right").empty().append("<button id='add'>Add Friend</button>");
                if (response.isAdmin) {
                    $("#profile-top-right").append("<button id='message'>Send Message</button>");
                }
                //alert(response.username);
                //alert(@Model.username);
                $("#add").click(function () {
                    addFriend(response.username);
                })
                $("#message").click(function () {
                    message(response.username);
                })
            }
        }
    }

    function addFriend(newuser)
    {
        $(".modal-footer").append("<div class='spinner' style='float:left'</div>")
        $.post("/ajax/addfriend", {
            newuser
            }, addFriendHandler);
    }

    function addFriendHandler(response) {
        //alert(JSON.stringify(response.connectError));
        $(".spinner").remove();
        var success = true;
        $("#profile-top-right").empty().append("<button>Remove Friend</button>");
    }

    function removeFriend(newuser) {
        $(".modal-footer").append("<div class='spinner' style='float:left'</div>")
        $.post("/ajax/removefriend", {
            newuser
        }, removeFriendHandler);
    }

    function removeFriendHandler(response) {
        //alert(JSON.stringify(response.connectError));
        $(".spinner").remove();
        var success = true;
        $("#profile-top-right").empty().append("<button>Add Friend</button>");
    }

    $("#fund-btn").click(submitPayment);
    function submitPayment() {
        $(".modal-footer").append("<div class='spinner' style='float:left'></div>")
        $.post("/ajax/payment", {
            amount: $('#amount-input').val(),
            name: $('#name-input').val(),
            cardNumber: $('#card-number-input').val(),
            cvc: $('#cvc-input').val(),
            expires: $('#expires-input').val(),
            password: $('#password-input').val()
        },
        paymentHandler);
    }

    function paymentHandler(response) {
        $(".spinner").remove();
        var success = true;
        if (response.amountError.length > 0) {
            success = false;
            $("#amount-group").addClass("has-error");
            $("#amount-msg").text(response.amountError);
        } else {
            $("#amount-group").removeClass("has-error");
            $("#amount-msg").text("");
        }
        if (response.nameError.length > 0) {
            success = false;
            $("#name-group").addClass("has-error");
            $("#name-msg").text(response.nameError);
        } else {
            $("#name-group").removeClass("has-error");
            $("#name-msg").text("");
        }
        if (response.cardNumberError.length > 0) {
            success = false;
            $("#card-number-group").addClass("has-error");
            $("#card-number-msg").text(response.cardNumberError);
        } else {
            $("#card-number-group").removeClass("has-error");
            $("#card-number-msg").text("");
        }
        if (response.cvcError.length > 0) {
            success = false;
            $("#cvc-group").addClass("has-error");
            $("#cvc-msg").text(response.cvcError);
        } else {
            $("#cvc-group").removeClass("has-error");
            $("#cvc-msg").text("");
        }
        if (response.expiresError.length > 0) {
            success = false;
            $("#expires-group").addClass("has-error");
            $("#expires-msg").text(response.expiresError);
        } else {
            $("#expires-group").removeClass("has-error");
            $("#expires-msg").text("");
        }
        if (response.passwordError.length > 0) {
            success = false;
            $("#password-group").addClass("has-error");
            $("#password-msg").text(response.passwordError);
        } else {
            $("#password-group").removeClass("has-error");
            $("#password-msg").text("");
        }
        if (success) {
            alert("funds successfully added!");
            $('#fund-modal').modal('toggle');
            //refresh the page to update value?
        }
    }
</script>
