<script>
    $("#profile-dropdown").click(function () {
        showProfileModal($("#username").text());
    });
    var profiles = {};
    var currentUser = "";
    function showProfileModal(username) {
        if (profiles[username]) {
            currentUser = username;
            printProfile();
        }
        else {
            $("#profile-footer-left").addClass("spinner");
            $("#profile-avatar").empty();
            $("#profile-username").empty();
            $("#profile-currency").empty();
            $("#friend-label").empty();
            $("#friend-body").empty();
            $("#profile-top-right").empty();
            $.post("/ajax/viewProfile", {
                username: username
            },
            profileHandler);
        }
    }
    function profileHandler(response) {
        //alert(JSON.stringify(response));
        if (JSON.stringify(response.username) != "null") {
            $("#friend-label").empty().append("<h3>Friends:</h3>");
            currentUser = response.username;
            profiles[currentUser] = response;
            printProfile();
        }
        else
        {
            $("#profile-avatar").empty();
            $("#profile-username").empty().append("USERNAME NOT FOUND");
            $("#profile-currency").empty();
            $("#friend-label").empty();
            $("#friend-body").empty();
            $("#profile-top-right").empty();
        }
        $("#profile-footer-left").removeClass("spinner");
    }
    function printProfile() {
        profile = profiles[currentUser];
        $("#profile-avatar").empty().append("<img src='" + profile.avatar + "'>");
        $("#profile-username").empty().append(profile.username);
        $("#profile-currency").empty().append("Currency: " + profile.currency);
        var $friendBody = $("#friend-body").empty();
        //alert(response.friendUser.size);

        for (var i = 0; i < profile.friendUser.length; i++) {
            var friend = profile.friendUser[i];
            var avatar = profile.friendAvatar[i];
            //var $line = $("");
            $div = $("<div class='clickable-profile col-sm-6' data-name='" + friend + "'></div>");
            $div.append("<img style='width: 64px; height: 64px;' src='" + avatar + "'>");
            $div.append($("<span></span>").text(" " + friend));
            $friendBody.append($div);
        }
        printTopRight();
    }

    function printTopRight() {
        profile = profiles[currentUser];
        var $topright = $("#profile-top-right").empty();
        if (profile.canEdit) {
            $topright.append("<a href='/editprofile'><button>Edit Profile</button></a>");
            return;
        }
        if (profile.isFriend) {
            $topright.append("<button id='remove'>Remove Friend</button>");
            $("#remove").click(function () {
                removeFriend(profile.username);
            })
        }
        else {
            $topright.append("<button id='add'>Add Friend</button>");
            $("#add").click(function () {
                addFriend(profile.username);
            })
        }
        if (profile.isFriend || profile.canAdmin || $("#admin").text() == "1"){
             $topright.append("<button id='message' data-toggle='modal' data-target='#message-modal' data-dismiss='modal'>Send Message</button>");
        }
        if ($("#admin").text() == "1") {
           // $topright.append("<button id='message' data-toggle='modal' data-target='#message-modal' data-dismiss='modal'>Send Message</button>");
            if (profile.disabled == false) {
                $topright.append("<button id='ban-user'>Ban User</button>");
                $("#ban-user").click(function () {
                    banUser(profile.username);
                })
            }
            else {
                $topright.append("<button id='unban-user'>Restore User</button>");
                $("#unban-user").click(function () {
                    unbanUser(profile.username);
                })
            }
        }
        $("#message").click(function () {
            $(".active").removeClass("active");
            $("#compose-message").parent().addClass("active");
            showMessageModal("compose", profile.username);
        })
    }//printtopright
    $("#friendBody").on("click", ".clickable-profile", function () {
        showProfileModal($(this).data("name"));
    })
    function addFriend()
    {
        $(".modal-footer").append("<div class='spinner' style='float:left'</div>")
        $.post("/ajax/addfriend", {
            newuser: currentUser
        }, addFriendHandler);
    }

    function addFriendHandler(response) {
        profiles[response.username].isFriend = true;
        $(".spinner").remove();
        printTopRight();
    }

    function removeFriend(newuser) {
        $(".modal-footer").append("<div class='spinner' style='float:left'</div>")
        $.post("/ajax/removefriend", {
            newuser: currentUser
        }, removeFriendHandler);
    }

    function removeFriendHandler(response) {
        profiles[response.username].isFriend = false;
        $(".spinner").remove();
        printTopRight();
    }

    function banUser(user) {
        $(".modal-footer").append("<div class='spinner' style='float: left'</div>")
        $.post("/ajax/banUser", {
            user: profile.username
        }, banUserHandler);
    }

    function banUserHandler(response) {
        profile.disabled = true;
        $(".spinner").remove();
        printTopRight();
    }

    function unbanUser(user) {
        $(".modal-footer").append("<div class='spinner' style='float: left'</div>")
        $.post("/ajax/unbanUser", {
            user: profile.username
        }, unbanUserHandler);
    }

    function unbanUserHandler(response) {
        profile.disabled = false;
        $(".spinner").remove();
        printTopRight();
    }


    //**********MESSAGE MODAL
    var messageList = [];
    $("#messages-dropdown").click(function () {
        showMessageModal($(".active").first().text());
    })
    $("#message-menu").on('click', 'li', function () {
        $(".active").removeClass("active");
        $(this).addClass("active");
        showMessageModal($(this).first().text());
    })
    function showMessageModal(str, recipient) {
        if (!recipient) {
            recipient = "";
        }
        $("#message-content").empty();
        $("#message-footer-left").addClass('spinner');
        if (str == "inbox") {
            $("#message-content").removeClass("well");
            $.post("/ajax/inbox", inboxHandler);
        }
        else if (str == "compose") {
            $("#message-content").addClass("well");
            composeHandler(recipient);
        }
        else{
            $("#message-content").removeClass("well");
            $.post("/ajax/sentmessages", sentHandler);
        }
    }
    function printMessageList(heading) {
        $("#message-footer-left").removeClass('spinner');
        if (messageList.length == 0) {
            $("#message-content").empty().append("<h2>empty</h2>");
            return;
        }
        var $thead = $("<thead><tr><th>" + heading + "</th><th>Date</th></tr></thead>")
        var $tbody = $("<tbody id='message-tbody'></tbody>")
        for (var i = 0; i < messageList.length; i++) {
            var $row = $("<tr data-ind='" + i + "'></tr>");
            $row.append("<td>" + messageList[i].username + "</td>");
            $row.append("<td>" + messageList[i].date + "</td>");
            $tbody.append($row);
        }

        $table = $("<table class='table table-hover'></table>").append($thead).append($tbody);
        $("#message-content").empty().append($table);
        $("tbody").on("click", "tr", function () {
            var i = $(this).data('ind');
            //alert(messageList[i].message);
            $("#message-content").empty().append("<strong>" + heading + ": </strong>" + messageList[i].username);
            $("#message-content").append("<br><strong>Date: </strong>" + messageList[i].date);
            $("#message-content").append("<hr><strong>Message: </strong>" + messageList[i].message);
        });
    }
    function inboxHandler(response) {
        messageList = response;
        printMessageList("Sender");
    }
    function sentHandler(response) {
        messageList = response;
        printMessageList("Recipient");
    }
    function composeHandler(recipient) {
        $("#message-footer-left").removeClass('spinner');
        var $row = $("<div class='form-group row' id='to-group'></div>");
        var $col3 = $('<div class="col-sm-3"></div>');
        $col3.append('<label class="control-label" for="to-input">recipient</label>');
        var $col9 = $('<div class="col-sm-9">');
        $col9.append('<input type="text" class="form-control" id="to-input" value="' + recipient + '"/>');
        var msg = ('<div class="col-sm-3"></div>' + '<div class="col-sm-9"><span id="to-msg" class="help-block"></span></div>');
        $row.append($col3).append($col9).append(msg);

        var $row2 = $("<div class='form-group row' id='send-group'></div>");
        var $col12 = $('<div class="col-sm-12"></div>');
        $col12.append('<label class="control-label" for="send-input">message</label>');
        $col12.append('<textarea class="form-control" rows="5" id="send-input"></textarea>');
        msg = ('<div class="col-sm-12"><span id="send-msg" class="help-block"></span></div>');
        $row2.append($col12).append(msg);

        var button = "<button id='send-btn' class='btn btn-primary' style='float: right;'>Send Message</button>";
        $("#message-content").empty().append($row).append($row2).append(button);
        $('#send-btn').click(function () {
            $('#send-btn').prop("disabled", true);
            $.post("/ajax/sendmessage", {
                to: $("#to-input").val(),
                message: $("#send-input").val()
            },
            sendMessageHandler);
            $("#message-footer-left").addClass('spinner');
        });
    }
    function sendMessageHandler(response) {
        $("#message-footer-left").removeClass('spinner');
        $('#send-btn').prop("disabled", false);
        var success = true;
        if (response.toError.length > 0) {
            success = false;
            $("#to-group").addClass("has-error");
            $("#to-msg").text(response.toError);
        } else {
            $("#to-group").removeClass("has-error");
            $("#to-msg").text("");
        }
        if (response.messageError.length > 0) {
            success = false;
            $("#send-group").addClass("has-error");
            $("#send-msg").text(response.messageError);
        } else {
            $("#send-group").removeClass("has-error");
            $("#send-msg").text("");
        }
        if (success) {
            $("#message-footer-left").empty().append('<p class="text-success">Message Sent!</p>');
            showMessageModal("hello everybody!");
        }
    }





    $("#fund-btn").click(submitPayment);
    function submitPayment() {
        $("#fund-footer-left").addClass("spinner");
        $.post("/ajax/payment", {
            amount: $('#amount-input').val(),
            name: $('#name-input').val(),
            cardNumber: $('#card-number-input').val(),
            cvc: $('#cvc-input').val(),
            expires: $('#expires-input').val(),
            password: $('#password-input').val()
        },
        paymentHandler);
    }

    function paymentHandler(response) {
        $("#fund-footer-left").removeClass("spinner");
        var success = true;
        if (response.amountError.length > 0) {
            success = false;
            $("#amount-group").addClass("has-error");
            $("#amount-msg").text(response.amountError);
        } else {
            $("#amount-group").removeClass("has-error");
            $("#amount-msg").text("");
        }
        if (response.nameError.length > 0) {
            success = false;
            $("#name-group").addClass("has-error");
            $("#name-msg").text(response.nameError);
        } else {
            $("#name-group").removeClass("has-error");
            $("#name-msg").text("");
        }
        if (response.cardNumberError.length > 0) {
            success = false;
            $("#card-number-group").addClass("has-error");
            $("#card-number-msg").text(response.cardNumberError);
        } else {
            $("#card-number-group").removeClass("has-error");
            $("#card-number-msg").text("");
        }
        if (response.cvcError.length > 0) {
            success = false;
            $("#cvc-group").addClass("has-error");
            $("#cvc-msg").text(response.cvcError);
        } else {
            $("#cvc-group").removeClass("has-error");
            $("#cvc-msg").text("");
        }
        if (response.expiresError.length > 0) {
            success = false;
            $("#expires-group").addClass("has-error");
            $("#expires-msg").text(response.expiresError);
        } else {
            $("#expires-group").removeClass("has-error");
            $("#expires-msg").text("");
        }
        if (response.passwordError.length > 0) {
            success = false;
            $("#password-group").addClass("has-error");
            $("#password-msg").text(response.passwordError);
        } else {
            $("#password-group").removeClass("has-error");
            $("#password-msg").text("");
        }
        if (success) {
            $("#fund-footer-left").append('<p class="text-success">Added $' + response.amount + ' to your account</p>');
            $("#currency").text(Number($("#currency").text()) + Number(response.amount));
            $('#amount-input').val("");
            $('#name-input').val("");
            $('#card-number-input').val("");
            $('#cvc-input').val(""),
            $('#expires-input').val(""),
            $('#password-input').val("");
        }
    }
</script>
